<?xml version="1.0" encoding="UTF-8"?>
<jcr:root xmlns:sling="http://sling.apache.org/jcr/sling/1.0" xmlns:jcr="http://www.jcp.org/jcr/1.0"
    jcr:primaryType="sling:OsgiConfig">
    <servlets>
        <login
            jcr:primaryType="sling:Servlet"
            paths="/bin/login"
            methods="POST"
            servlet-class="com.aemstore.core.servlets.LoginServlet"/>
    </servlets>
</jcr:root>