<link rel="stylesheet" href="/apps/aemstore/components/topbar/clientlib/css/header.css">

<div class="top-bar">
    <div class="logo">AEM Store</div>
    <ul class="menu">
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">US</a> </li>
    </ul>
    <div id="username-display"></div>
    <script src="/apps/aemstore/components/topbar/clientlib/js/topbar.js?version=v2"></script>
</div>
<div class="content">
    <!-- Your main content here -->
</div>