<link rel="stylesheet" href="/apps/aemstore/components/topbar/clientlib/css/header.css">

<div class="top-bar">
    <div class="logo">AEM Store</div>
    <ul class="menu">
        <li><a href="http://localhost:4502/content/aemstore/us/home.html">Home</a></li>
        <li><a href="http://localhost:4502/content/aemstore/us/create.html">Create</a></li>
        <li><a href="http://localhost:4502/content/aemstore/us/contact.html">Contact Us</a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a></a></li>
        <li><a href="#" id="logout">Logout</a></li>

    </ul>
    <div id="username-display"></div>
    <script src="/apps/aemstore/components/topbar/clientlib/js/topbar.js?version=v1"></script>
</div>
<div class="content">
    <!-- Your main content here -->
</div>